* {
    margin: 0;
    padding: 0;
  }
  body {
    background: url('WhatsApp\ Image\ 2022-03-01\ at\ 10.20.13\ PM.jpeg');
    position: absolute;
    height: 100%;
    width: 100%;
    animation: turtle 12s infinite ease;
  }
  .turtle {
    position: fixed;
    width: 20%;
    left: 100%;
    top: 200px;
    animation: walk 5s infinite;
  }
  @keyframes turtle {
    0% {
      background-color: #6666ff;
    }
    25% {
      background-color: #3398db;
    }
    50% {
      background-color: skyblue;
    }
    75% {
      background-color: #3398db;
    }
    100% {
      background-color: #6666ff;
    }
  }
  @keyframes walk {
    0% {
      left: -20%;
    }
    25% {
    }
    50% {
    }
    75% {
    }
    100% {
      right: -100px;
    }
  }